*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 80px;
    --mark-size: calc(var(--cell-size)*.9);
    --big-mark-size: calc(var(--cell-size)*3);
}

body {
    margin: 0;
}

.big-board {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    grid-template-columns: repeat(3, auto);
    border: 3px solid black;
    padding: 10px;
}

.cell.x::before, .cell.x::after, .cell.o::before, .cell.o::after {
    background-color: black;
}

.big-board.x .board:not(.x):not(.o) .cell:not(.x):not(.o):hover::before,
.big-board.x .board:not(.x):not(.o) .cell:not(.x):not(.o):hover::after{
    background-color: lightgray;
}

.big-board.o .board:not(.x):not(.o) .cell:not(.x):not(.o):hover::before{
    background-color: lightgray;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x, .cell.o, .board.x .cell, .board.o .cell {
      cursor: not-allowed;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3),
.board:first-child, .board:nth-child(2), .board:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1), .board:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3), .board:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child, .cell:nth-child(8), .cell:nth-child(7),
.board:last-child, .board:nth-child(8), .board:nth-child(7) {
    border-bottom: none;
}

.cell.x::before, .cell.x::after,
.big-board.x .cell:not(.x):not(.o):hover::before,
.big-board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before, .big-board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after, .big-board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before, .cell.o::after,
.big-board.o .cell:not(.x):not(.o):hover::before,
.big-board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before, .big-board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after, .big-board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-message {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.show {
    display: flex;
}

.board.x::before, .board.x::after {
    background-color: black;
    content: '';
    position: absolute;
    width: calc(var(--big-mark-size) * .15);
    height: var(--big-mark-size);
}

.board.x::before {
    transform: rotate(45deg);
}

.board.x::after {
    transform: rotate(-45deg);
}

.board.o::before, .board.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.board.o::before {
    background-color: black;
    width: var(--big-mark-size);
    height: var(--big-mark-size);
}

.board.o::after {
    width: calc(var(--big-mark-size) * .7);
    height: calc(var(--big-mark-size) * .7);
    background-color: white;
}

.board.next {
    background-color: yellow;
}
